* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    120deg,
    rgb(230, 162, 173) 0%,
    #e21362 100%
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
form input,
.input {
  margin: 6px;
  font-size: 2rem;
  border: none;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-btn {
  margin-left: 7rem;
  font-size: 30px;
  border: none;
  background: silver;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-container {
  margin-top: 10px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn:hover {
  background: #ff6f47;
  color: white;
  border: none;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn,
.edit-btn,
.save-btn {
  background: #08237c;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(80, 5, 5);
}
.edit-btn,
.save-btn {
  background: rgb(3, 44, 78);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash-o,
.fa-check,
.fa-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

h1 {
  color: aliceblue;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  color: rgb(11, 11, 12);
  margin: 2rem;
}

.nice-dates-navigation,
.nice-dates-day {
  color: #111;
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
}
