body {
  background: #9266ff;
}
.App {
  text-align: center;
  background-color: #3f3160;
  min-height: 500px;
  width: 40rem;
  margin: 40px auto;
}
input {
  border: 0;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  margin: 30px;
  font-size: 18px;
  border-radius: 10px;
}
h1 {
  color: aliceblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
